{% if site.google_cse.enable %}
<div  id="main" class="page">
  <div id='cse' style='width:100%;text-align:center'>{{ lang.search-load }}</div>
</div>
<script src="http://www.google.com.hk/jsapi" type="text/javascript"></script>
<script type="text/javascript">
google.load('search', '1', {language : 'zh-CN',style: google.loader.themes.MINIMALIST});
google.setOnLoadCallback(function(){
  var customSearchControl = new google.search.CustomSearchControl('{{ site.google_cse.cx }}');
  customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
  var options = new google.search.DrawOptions();
  options.setAutoComplete(true);
  customSearchControl.draw('cse', options);
  var match = location.search.match(/q=([^&]*)(&|$)/);
  if(match && match[1]){
    var search = decodeURIComponent(match[1]); 
    customSearchControl.execute(search);
  }
},true);
</script>
{% elsif site.baidu_search.enable %}
<script type="text/javascript">
(function(){
	document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));
	var bdcs = document.createElement('script');
	bdcs.type = 'text/javascript';
	bdcs.async = true;
	bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=6201335013831888574' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(bdcs, s);
	})();
</script>
{% elsif site.tinysou_search.enable %}
<script>
var option = {
  engineKey: '{{ site.tinysou_search.id }}'
};
(function(w,d,t,u,n,s,e){
  s = d.createElement(t);
  s.src = u;
  s.async = 1;
  w[n] = function(r){
    w[n].opts = r;
  };
  e = d.getElementsByTagName(t)[0];
  e.parentNode.insertBefore(s, e);
})(window,document,'script','//tinysou-cdn.b0.upaiyun.com/ts.js','_ts');
_ts(option);
</script>
{% endif %}